<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="pragma" content="no-cache" />
    <title>AdminLTE 2 | Top Navigation</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf_name" th:content="${_csrf.parameterName}"/>
    <link rel="icon" type="image/png" href="../../static/avatar/favicon.png" th:href="@{/avatar/favicon.png}"/>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../static/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../static/bower_components/Ionicons/css/ionicons.min.css" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="../../static/dist/css/AdminLTE.min.css " th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>
    <!--Notify-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../static/dist/css/skins/_all-skins.min.css" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
    <link rel="stylesheet" href="../../static/custom/css/footer.css" th:href="@{/custom/css/footer.css}"/>
    <script src="../../static/bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"> </script>
    <!-- jQuery ui -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
        .btn-primary{
            background-color: #009cde !important;
        }
    </style>
    <script sec:authorize="hasRole('USER')" src="../../static/custom/js/socket/notification.js" th:src="@{/custom/js/socket/notification.js}"></script>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../../index2.html" class="navbar-brand"><b>Blog</b> Cooper</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/posts}">Posts<span class="sr-only">(current)</span></a></li>
                        <li><a th:href="@{/status}">Status</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" th:action="@{/posts}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" name="tagged" placeholder="Search"/>
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div sec:authorize="isAuthenticated()" th:object="${session.userCurrent}" class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="countnotify"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                      <!-- start notification --> 
                                        <!-- 
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        -->
                                        <!-- end notification -->
                                        
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img id="avatarImg" class="user-image user-avatar" alt="User Image" th:src="${#strings.isEmpty(session.userCurrent.smallAvatarLink)} ? @{/avatar/28576502_2051962765051929_6193620571800617320_n.jpg} :
                                                (${#strings.startsWith(session.userCurrent.smallAvatarLink, 'http')} ? ${session.userCurrent.smallAvatarLink} : (@{/uploads/avatars/} + ${session.userCurrent.smallAvatarLink}))"/>                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span th:text="*{username}" class="hidden-xs" id="userNameInUse">

                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="../../static/avatar/28576502_2051962765051929_6193620571800617320_n.jpg" th:src="@{/avatar/28576502_2051962765051929_6193620571800617320_n.jpg}" class="img-circle user-avatar" alt="User Image"/>

                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small th:text="*{registrationDate}"></small>
                                    </p>
                                </li>
                                <li class="user-body" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                    <div class="row">
                                        <div class="col-xs-12 text-center no-padding">
                                            <a class="btn btn-primary btn-flat col-xs-12" th:href="@{/posts/create}">Create Post</a>
                                        </div>
                                        <div class="col-xs-12 text-center no-padding" >
                                            <a class="btn btn-primary btn-flat col-xs-12" th:href="@{/admin/usermanagement}">Management User</a>
                                        </div>
                                        <div class="col-xs-12 text-center no-padding" >
                                            <a class="btn btn-primary btn-flat col-xs-12" href="#">Management System</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a th:href="@{|/personal/${session.userCurrent.username}|}" class="btn btn-primary btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a th:href="@{/logout}" class="btn btn-warning btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div sec:authorize="isAnonymous()" class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../static/avatar/28576502_2051962765051929_6193620571800617320_n.jpg" class="user-image" alt="User Image" th:src="@{/avatar/28576502_2051962765051929_6193620571800617320_n.jpg}"/>
                                <span class="hidden-xs"> Sign in / Register</span>
                            </a>
                            <ul class="dropdown-menu" style="width: 164px !important">

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a th:href="@{/register}" class="btn btn-default btn-flat"> Register</a>
                                    </div>
                                    <div class="pull-right">
                                        <a th:href="@{/login}" class="btn btn-default btn-flat">Sign in</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper" style="padding-top: 20px;">
        <div class="container">
            <section id="pageContent" layout:fragment="content">

            </section>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 class="text-uppercase mb-4"><i class="glyphicon glyphicon-map-marker"></i> Location</h4>
                    <p class="lead mb-0">2215 John Daniel Drive
                        <br/>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 class="text-uppercase mb-4"><i class="fa fa-drivers-license-o"></i> Around the Web</h4>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-github">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-bitbucket">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-linkedin">   </i> </a> </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 class="text-uppercase mb-4"><i class="fa fa-info"></i> About Freelancer</h4>
                    <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-bottom">
        <div class="container">
            <p style="text-align: center;"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
        </div>
    </div>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script src="../../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../../static/bower_components/fastclick/lib/fastclick.js" th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/adminlte.min.js" th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js" th:src="@{/dist/js/demo.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>  
</body>
</html>
