/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2018, 9:40:16 AM
    Author     : DBCooper
*/
    .comment-username {
        font-weight: bold;
        color: #369;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .comment-username-admin {
        color: darkred;
    }

    .comment-header .post-date {
        vertical-align: middle;
    }

    .comment-header {
        margin-bottom: 10px;
    }

    .comment {
        padding: 10px;
    }
    .likevoted{
        color: #009cde !important;
    }
    .unlikevoted{
        color: #ed1212 !important;
    }
    .new-comment .comment-header {
        background-color: #E3FFD0;
    }

    .child-comment-node {
        margin-left: 20px;
    }

    .comment-content.deleted {
        display: inline-block;
        background-color: #F0F0F0;
        padding: 10px;
    }

    .deleted {
        color: #808080;
    }

    .comment-form button {
        margin-right: 10px;
    }

