.page-content{
    position: relative;
}
.hidden-post {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: -5px;
    left: -30px;
    bottom: 0;
    right: -30px;
    text-align: center;
}

.hidden-post span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.unlikevote{
    color: #f44262 !important;
}
.likevote{
    color: #009cde !important;
}
