<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layout/_layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${edit}?'EDIT-Post '+${post.title}:'CREATE Post'"></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
    <link rel="stylesheet" href="../static/custom/css/pagedown.css" th:href="@{/custom/css/pagedown.css}"/>
    <script src="../static/custom/js/profile_js/common.js" th:src="@{/custom/js/profile_js/common.js}"></script>
    <script src="../static/custom/js/posts_js/edit_post.js" th:src="@{/custom/js/posts_js/edit_post.js}"></script>
</head>
<body>
<section id="pageContent" layout:fragment="content">
    <div class="box box-success col-md-12 no-padding-col">

        <div class="box-header with-border">
            <h2 class="" th:text="${edit} ? 'Edit post' : 'Create post'" th:style="'text-align:center;'"></h2>
        </div>
        <div class="box-body no-padding">
            <form th:action="${edit} ? @{|/posts/${post.id}/edit|} : @{/posts/create}" th:object="${post}" method="post" id="postForm">
            <div th:if="${#fields.hasErrors('*')}">
                <ul class="list-no-indent">
                    <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="form-group row">
                <label for="title" class="control-label col-md-2">Title:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="title" th:field="*{title}"/>
                </div>
            </div>

            <div class="form-group wmd-panel row">
                <label for="wmd-input" class="control-label col-md-2">Content:</label>
                <div class="col-md-10">
                    <div id="wmd-button-bar"></div>
                    <textarea class="wmd-input" id="wmd-input" th:field="*{text}"></textarea>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="tags" class="control-label col-md-2">Tags:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="tags" th:field="*{tags}" placeholder="c++, php"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2">
                    <button type="submit" class="btn btn-default col-md-offset-2" th:text="${edit} ? 'Save' : 'Submit'"></button>
                </div>
            </div>

        </form>
        </div>
    </div>
</section>
</body>
</html>