<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layout/_layout">
<head>
    <meta charset="UTF-8"/>
    <title>Post</title>
    <link rel="stylesheet" href="../static/custom/css/posts.css" th:href="@{/custom/css/posts.css}"/>
    <script sec:authorize="hasRole('ADMIN')" src="../static/custom/js/admin/admin.js" th:src="@{/custom/js/admin/admin.js}"></script>
    <script src="../static/custom/js/profile_js/common.js" th:src="@{/custom/js/profile_js/common.js}"></script>
    <script src="../static/custom/js/posts_js/posts_index.js" th:src="@{/custom/js/posts_js/posts_index.js}"></script>
    <script src="../static/custom/js/posts_js/vote_post.js" th:src="@{/custom/js/posts_js/vote_post.js}"></script>
</head>
<body>

<section id="pageContent" layout:fragment="content" class="col-xs-12 col-md-12">
    <div class="col-padding col-md-9">
        <div id="pagePostsContent" th:with="isUser=${#authorization.expression('hasRole(''ROLE_USER'')')}">
            <div th:attr="data-post-id=${post.id}, data-post-title=${post.title}" th:each="post: ${postPage}" class="box post" style="padding: 30px;">
                <div class="page-content">
                    <!-- First Blog Post -->
                        <h2 class="box-title">
                            <a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a>
                        </h2>
                        <p class="lead">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="entry-meta">
                                    <span><i class="fa fa-calendar-o"></i><span th:text="${post.dateTime}"> </span></span>|
                                    <span><i class="fa fa-user"></i> Posted by <a href="#"> admin</a></span>
                                </div>
                            </div>
                        </div>
                        </p>
                        <div class="post-tags">
                            <i class="fa fa-tag"></i><span th:each="tag:${post.tags}" style="padding-left: 5px;"><a  class="post-tag label label-success" th:text="${tag.name}" th:href="@{/posts(tagged=${tag.name})}"></a></span>
                        </div>
                        <hr/>
                        <p class="postContent" th:utext="${post.hasShortTextPart()}? ${post.shortTextPartHtml()} : ${post.fullPostTextHtml()}"></p>

                        <div th:if="${post.hasShortTextPart()}">
                            <a class="lead btn btn-primary" th:href="@{|/posts/${post.id}|}">Continue &rarr;</a>
                        </div>
                        <th:block th:if="${post.hidden}">
                            <div class="hidden-post"><span>Not visible for users</span></div>
                        </th:block>
                    <hr/>
                </div>
                <div class="post-actions">
                    <ul class="nav nav-pills">
                        <li th:title="${isUser}?'':'Log in or register to vote'">
                            <div class="post-rating-block" th:with="ratingSum=${post.getRatingSum()}, userVoteValue=${post.getUserVoteValue(userId)}">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a class=" rating-arrow like-arrow" th:attr="data-action=${isUser and userVoteValue==0} ? 'vote':'', data-href=@{|/posts/${post.id}/like|} "  th:classappend="${userVoteValue == 1} ? 'likevote'"
                                           data-vote-type="like">
                                            <i class="fa fa-thumbs-o-up" ></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rating-arrow dislike-arrow" th:attr="data-action=${isUser and userVoteValue==0} ? 'vote':'', data-href=@{|/posts/${post.id}/dislike|} "  th:classappend="${userVoteValue == -1} ? 'unlikevote'" data-vote-type="unlike">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="rating-value" style="margin-top:18%;">
                                            Total <span class="badge" th:text="${ratingSum}"  th:classappend="${ratingSum == 0} ? 'rating-value-no' : (${ratingSum lt 0} ? 'rating-value-negative' : 'rating-value-positive')"></span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li style="float: right;">
                            <ul class="nav nav-pills">
                                <li><a sec:authorize="hasRole('ADMIN')" th:href="@{|/posts/${post.id}/edit|}"><i class="fa fa-pencil"></i>Edit</a></li>
                                <li><a sec:authorize="hasRole('ADMIN')" href="javascript:void(0)"
                                    th:attr="data-action=${post.hidden} ? 'unhidePost' : 'hidePost', data-href=@{|/posts/${post.id}/|} + (${post.hidden} ? 'unhide' : 'hide')"><i th:classappend="${post.hidden}? 'fa fa-eye':'fa fa-eye-slash'"></i><span th:text="${post.hidden} ? 'Unhide' : 'Hide'"></span></a></li>
                                <li><a sec:authorize="hasRole('ADMIN')" href="javascript:void(0)" th:style="${post.hidden} ? '' : 'display: none;'"
                                       th:attr="data-href=@{|/posts/${post.id}/delete|}"
                                       data-action="deletePost"><i class="fa fa-trash"></i><span th:text="'Delete'"></span></a></li>
                                <li><a class="comments-link" th:href="@{|/posts/${post.id}#comments|}"><i class="fa fa-comment"></i>Comment <span class="badge" th:text="${post.comments.size()}"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pager -->
        <div th:with="searchQueryParam=${searchQuery == null}?'': ${searchQuery}" >
            <ul class="pager">
                <li class="previous" th:unless="${postPage.isLast()}">
                    <a th:href="@{/posts(page=${postPage.getNumber()+1})}+ ${searchQueryParam}">&larr; Older</a>
                </li>
                <li class="next" th:unless="${postPage.isFirst()}">
                    <a th:href="@{/posts(page=${postPage.getNumber() - 1})} + ${searchQueryParam}">Newer &rarr;</a>
                </li>
            </ul>
            <ul class="pagination">
                <li th:if="${postPage.getNumber() - 2 ge 0}">
                    <a th:href="@{/posts(page=${postPage.getNumber() - 2})} + ${searchQueryParam}" th:text="${postPage.getNumber() - 1}"></a>
                </li>
                <li th:if="${postPage.getNumber() - 1 ge 0}">
                    <a th:href="@{/posts(page=${postPage.getNumber() - 1})} + ${searchQueryParam}" th:text="${postPage.getNumber()}"></a>
                </li>
                <li class="active">
                    <a th:text="${postPage.getNumber() + 1}"></a>
                </li>
                <li th:if="${postPage.getNumber() + 1 &lt; postPage.getTotalPages()}">
                    <a th:href="@{/posts(page=${postPage.getNumber() + 1})} + ${searchQueryParam}" th:text="${postPage.getNumber() + 2}"></a>
                </li>
                <li th:if="${postPage.getNumber() + 2 &lt; postPage.getTotalPages()}">
                    <a th:href="@{/posts(page=${postPage.getNumber() + 2})} + ${searchQueryParam}" th:text="${postPage.getNumber() + 3}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 no-padding" id="popular-post">
        <!-- Popular Post LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Lasted Post</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="lasted-posted-list products-list product-list-in-box">

                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- Lasted Post LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Popular Post</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="popular-posted-list products-list product-list-in-box">

                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <script th:inline="javascript">
        window.postsLastedUrl = /*[[@{/posts/lasted}]]*/ '';
        window.postsUrl=/*[[@{/posts}]]*/ '';
        window.popularPostsUrl = /*[[@{/posts/top}]]*/ '';
    </script>
</section>

</body>
</html>