<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/_layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Blog-User '+${user.username}"></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="stylesheet" href="../static/custom/css/profile.css" th:href="@{/custom/css/profile.css}"/>
    <link rel="stylesheet" href="../static/custom/css/footer.css" th:href="@{/custom/css/footer.css}"/>
    <script src="../static/custom/js/profile_js/common.js" th:src="@{/custom/js/profile_js/common.js}"></script>
    <script src="../static/custom/js/profile_js/uploadimage.js" th:src="@{/custom/js/profile_js/uploadimage.js}"></script>
    <link rel="stylesheet" href="../static/custom/css/pagedown.css" th:href="@{/custom/css/pagedown.css}"/>
    <script src="../static/custom/js/profile_js/update_profile.js" th:src="@{/custom/js/profile_js/update_profile.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="row" style="padding-top: 15px !important;">
        <div class="col-md-3">
            <div class="box profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img class="img-responsive user-avatar"  th:src="${#strings.isEmpty(user.bigAvatarLink)} ? @{/avatar/28576502_2051962765051929_6193620571800617320_n.jpg} :
                                                (${#strings.startsWith(user.bigAvatarLink, 'http')} ? ${user.bigAvatarLink} : (@{/uploads/avatars/} + ${user.bigAvatarLink}))" alt=""/>
                </div>

                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span>
                            | Logged user: <span th:text="*{user.username}"></span> |
                            | Roles: <span th:text="*{user.roles}"></span> |
                        </span>
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm"><i class="fa fa-rss"> Follow</i></button>
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-envelope"></i> Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->

            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Trang Cá Nhân</h3>
                </div>
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class=""><a href="#activity" data-toggle="tab" aria-expanded="false"><i class="fa fa-tasks"></i>Activity</a></li>
                        <li><a href="#timeline" data-toggle="tab"><i class="fa fa fa-history"></i>Timeline</a></li>
                        <li th:if="${#authentication.name==user.username}" class="active"><a href="#settings" data-toggle="tab" aria-expanded="true"><i class="fa fa-cog"></i> Settings</a></li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane" id="activity">

                        <!-- Post -->
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="/blog/avatar/28576502_2051962765051929_6193620571800617320_n.jpg" alt="user image"/>
                                <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                                <span class="description">Shared publicly - 7:30 PM today</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                            <ul class="list-inline">
                                <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                                <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                                        (5)</a></li>
                            </ul>

                            <input class="form-control input-sm" type="text" placeholder="Type a comment"/>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse">
                            <!-- timeline time label -->
                            <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Read more</a>
                                        <a class="btn btn-danger btn-xs">Delete</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-user bg-aqua"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                    </h3>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <i class="fa fa-comments bg-yellow"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                    <div class="timeline-body">
                                        Take me to your leader!
                                        Switzerland is small and neutral!
                                        We are more like Germany, ambitious and misunderstood!
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                        </ul>
                    </div>
                    <!-- /.tab-pane -->
                    <div th:if="${#authentication.name==user.username}" class="tab-pane active" id="settings">
                        <div id="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <label class="control-label col-md-2 padding-left-10">Change Avatar</label>
                                    <div class="col-md-10 no-padding">
                                        <div id="image-holder" class="avatar-big col-md-4 no-pađding">


                                            <img id="avatarImg" class="img-thumbnail img-rounded user-avatar"
                                                 th:src="${#strings.isEmpty(user.bigAvatarLink)} ? @{/avatar/28576502_2051962765051929_6193620571800617320_n.jpg} :
                                                (${#strings.startsWith(user.bigAvatarLink, 'http')} ? ${user.bigAvatarLink} : (@{/uploads/avatars/} + ${user.bigAvatarLink}))"/>
                                        </div>

                                        <div class="col-md-8 no-padding">
                                        <label>JPG or PNG, preferably square (will be resized to 160x160 and 28x28), max size 1 MB</label>
                                        <div class="col-md-12 no-padding">
                                            <span role="button" class="btn btn-default btn-file" id="uploadAvatar">
                                                <span><i class="fa fa-image"></i> Choose picture</span>

                                                <input type="file" id="uploadImage" name="uploadImage" />
                                            </span>
                                            <span role="button" class="btn btn-default" id="removeAvatar" th:style="${#strings.isEmpty(user.bigAvatarLink)} ? 'display: none'"
                                                  th:attr="data-href=@{/remove_avatar}"><i class="fa fa-trash"></i>Remove</span>
                                            <a class="btn  btn-success" id="avatarFileUploadInput"><i class="fa fa-upload"></i> Upload</a>
                                        </div>
                                        <div class="col-md-12 no-padding" style="margin-top: 10px;">
                                            <div class="progress progress-striped active">
                                                <div  id="progressBar" class="progress-bar progress-bar-success" style="width:0%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loading-indicator" style="display: none">
                                <img th:src="@{/images/ajax-loader.gif}" />
                            </div>
                        </div>

                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Change Password</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="form-group row">
                                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled="disabled" class="form-control" id="inputUsername" placeholder="User Name" th:field="*{user.username}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 control-label">Old Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" autocomplete="new-password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{user.password}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputNewPassword" class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password"  autocomplete="new-password" class="form-control" id="inputNewPassword" placeholder="Confirm Password" name="inputNewPassword"/>
                                        <span class="help-block" style="display: none"></span>                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputConfirmPassword_1" class="col-sm-2 control-label">Confirm New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password"  autocomplete="new-password" class="form-control" id="inputConfirmPassword_1" placeholder="Confirm Password" name="confirmPassword_1"/>
                                        <span class="help-block" style="display: none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <a href="javascript:void(0)" class="btn btn-success" id="actionChangePassword"> Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Change Email</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" th:field="*{user.email}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputConfirmPassword_2" class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-10">
                                        <input type="password"  autocomplete="new-password" class="form-control" id="inputConfirmPassword_2" placeholder="Confirm Password" name="confirmPassword_2"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <a href="javascript:void(0)" class="btn btn-success" id="actionChangeEmail"> Change Email</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Update Profile</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="form-group row">
                                    <label for="wmd-input" class="col-sm-2 control-label">About</label>
                                    <div class="col-sm-10">
                                        <div id="wmd-button-bar"></div>
                                        <textarea class="wmd-input form-control" id="wmd-input"  th:field="*{user.aboutText}"></textarea><br/>
                                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputWebsiteLink" class="col-sm-2 control-label">Website</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputWebsiteLink" placeholder="Website" th:field="*{user.websiteLink}"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <a href="javascript:void(0)" class="btn btn-success" id="submitProfile">Update Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <script th:inline="javascript">
        window.avatarUploadUrl = /*[[@{|/upload_avatar|}]]*/ '';
        window.changeEmailUrl=/*[[@{|/change_email|}]]*/'';
        window.changePassUrl=/*[[@{|/change_password|}]]*/'';
        window.uploadProfileUrl=/*[[@{|/upload_profile|}]]*/'';
        window.rootAvatar=/*[[@{|/avatar/28576502_2051962765051929_6193620571800617320_n.jpg|}]]*/'';
    </script>
</section>
</body>
</html>