<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/_layout">
<head>
    <title th:text="${post.title}"></title>
    <link rel="stylesheet" href="../../static/custom/css/comments.css" th:href="@{/custom/css/comments.css}"/>
    <script sec:authorize="hasRole('ADMIN')" src="../static/custom/js/admin/admin.js" th:src="@{/custom/js/admin/admin.js}"></script>
    <script src="../static/custom/js/profile_js/common.js" th:src="@{/custom/js/profile_js/common.js}"></script>
    <script src="../static/custom/js/socket/readpostsocket.js" th:src="@{/custom/js/socket/readpostsocket.js}"></script>

</head>
<body>
<section id="pageContent" class="box box-primary row col-md-12" layout:fragment="content" th:with="isUser=${#authorization.expression('hasRole(''USER'')')}">    
    <div  id="pagePostsContent" class=" box-body">
        <div th:attr="data-post-id=${post.id}, data-post-title=${post.title}" class="post">
            <div class="post-content">
                <h1 th:text="${post.title}"></h1>
                <hr/>
                <p class="lead">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-o"></i> <span class="post-date" th:text="${#temporals.format(post.dateTime, 'dd/MMM/yyyy HH:mm')}"></span></span>
                                <span><i class="fa fa-user"></i> Posted by <a href="#">admin</a></span>
                            </div>
                        </div>
                    </div>
                </p>
                <div class="post-tags">
                    <i class="fa fa-tag"></i><span th:each="tag:${post.tags}" style="padding-left: 5px;"><a  class="post-tag label label-success" th:text="${tag.name}" th:href="@{/posts(tagged=${tag.name})}"></a></span>
                </div>
                <hr/>
                <div class="post-maincontent" th:utext="${post.fullPostTextHtml()}"></div>

                <th:block th:if="${post.hidden}">
                    <div class="hidden-post"><span>Not visible for users</span></div>
                </th:block>
            </div>

            <div class="post-actions">
                <ul class="nav nav-pills">
                    <li th:title="${isUser}?'':'Log in or register to vote'">
                        <div class="post-rating-block" th:with="ratingSum=${post.getRatingSum()}, userVoteValue=${post.getUserVoteValue(userId)}">
                            <ul class="nav nav-pills">
                                <li>
                                    <a class=" rating-arrow like-arrow" th:attr="data-action=${isUser and userVoteValue==0} ? 'vote':'', data-href=@{|/posts/${post.id}/like|} "  th:classappend="${userVoteValue == 1} ? 'likevoted'"
                                       data-vote-type="like">
                                        <span class="fa fa-thumbs-o-up" ></span>
                                    </a>
                                </li>
                                <li>
                                    <a> <span class="badge bg-green" th:text="${ratingSum}"  th:classappend="${ratingSum == 0} ? 'rating-value-no' : (${ratingSum lt 0} ? 'rating-value-negative' : 'rating-value-positive')"></span></a>
                                </li>
                                <li>
                                    <a class="rating-arrow dislike-arrow" th:attr="data-action=${isUser and userVoteValue==0} ? 'vote':'', data-href=@{|/posts/${post.id}/dislike|} "  th:classappend="${userVoteValue == -1} ? 'unlikevoted'">
                                        <span class="fa fa-thumbs-o-down"></span>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </li>
                    <li style="float: right;">
                        <ul class="nav nav-pills">
                            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{|/posts/${post.id}/edit|}"><i class="fa fa-pencil"></i>Edit</a></li>
                            <li><a sec:authorize="hasRole('ADMIN')" href="javascript:void(0)"
                                   th:attr="data-action=${post.hidden} ? 'unhidePost' : 'hidePost', data-href=@{|/posts/${post.id}/|} + (${post.hidden} ? 'unhide' : 'hide')"><i th:classappend="${post.hidden}? 'fa fa-eye':'fa fa-eye-slash'"></i><span th:text="${post.hidden} ? 'Unhide' : 'Hide'"></span></a></li>
                            <li><a sec:authorize="hasRole('ADMIN')" href="javascript:void(0)" th:style="${post.hidden} ? '' : 'display: none;'"
                                   th:attr="data-href=@{|/posts/${post.id}/delete|}"
                                   data-action="deletePost"><i class="fa fa-trash"></i><span th:text="'Delete'"></span></a></li>
                            <li><a class="comments-link" th:href="@{|/posts/${post.id}#comments|}"><i class="fa fa-comment"></i>Comment <span class="badge" th:text="${post.comments.size()}"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="postaction-loading-indicator" style="display: none">
                <img  th:src="@{/images/ajax-loader.gif}" />
            </div>
        </div>
    </div>
    <div class="box-footer" id="comments">
        <div class="comment-form">
            
                <div class="well" th:if="${#authorization.expression('isAuthenticated()')}">
                    <h4>Leave a Comment:</h4>

                        <div class="form-group row">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input form-control" id="wmd-input"></textarea>
                            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                        </div>
                        <div class="row form-group">
                            <a class="btn btn-primary" id="sendComment">Comment</a>
                        </div>
                </div>
            
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}" th:text="'You must be logged in to comment.'" class="btn btn-success"></a>
            </div>
        </div>
        <div id="commentList" th:include="fragment/comments :: commentList (comments=${post.topLevelComments()})">

        </div>
    </div>
    <input id="readpost" value="true" type="hidden"/>
</section>
</body>
</html>