<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorator="layout/_layout">
<head>
    <meta charset="UTF-8"/>
    <title>User Management</title>
    <script th:src="@{/custom/js/admin/admin.js}"></script>
    <script th:src="@{/custom/js/profile_js/common.js}"></script>
</head>
<body>
<section id="pageContent" layout:fragment="content" class="col-xs-12 col-md-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">ALL USER</h3>

                    <div class="box-tools">
                        <form th:action="@{/admin/usermanagement}" method="get"  role="search">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text_username" name="username" class="form-control pull-right" placeholder="Search"/>

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Register Date</th>
                                <th>Username</th>
                                <th>Enabled</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="userMana: ${allUser}">
                                <td th:text="${userMana.getId()}"></td>
                                <td th:text="${userMana.getEmail()}"></td>
                                <td th:text="${#temporals.format(userMana.getRegistrationDate(), 'MMM dd, yyyy')}"></td>
                                <td th:text="${userMana.getUsername()}"></td>
                                <td th:text="${userMana.isEnabled()?'True':'False'}"></td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Role</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" th:each="role: ${userMana.getRoles()}">

                                            <li th:if="${role.getName().equals('ROLE_ADMIN')}">
                                                <a href="#" th:attr="data-user-id=${userMana.getId()},data-role-action='REMOVE_ADMIN'" onclick="actionRole($(this))">Remove ADMIN</a>
                                            </li>
                                            <li th:unless="${role.getName().equals('ROLE_ADMIN')}">
                                                <a href="#" th:attr="data-user-id=${userMana.getId()},data-role-action='ADD_ADMIN'" onclick="actionRole($(this))">Add ADMIN</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
                <div th:with="usernameSearch=${username == null}?'': ${username}" class="box-footer clearfix">

                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li th:if="${allUser.getNumber() - 2 ge 0}">
                            <a th:href="@{/admin/usermanagement(page=${allUser.getNumber() - 2})} + ${usernameSearch}" th:text="${allUser.getNumber() - 1}"></a>
                        </li>
                        <li th:if="${allUser.getNumber() - 1 ge 0}">
                            <a th:href="@{/admin/usermanagement(page=${allUser.getNumber() - 1})} + ${usernameSearch}" th:text="${allUser.getNumber()}"></a>
                        </li>
                        <li class="active">
                            <a th:text="${allUser.getNumber() + 1}"></a>
                        </li>
                        <li th:if="${allUser.getNumber() + 1 &lt; allUser.getTotalPages()}">
                            <a th:href="@{/admin/usermanagement(page=${allUser.getNumber() + 1})} + ${usernameSearch}" th:text="${allUser.getNumber() + 2}"></a>
                        </li>
                        <li th:if="${allUser.getNumber() + 2 &lt; allUser.getTotalPages()}">
                            <a th:href="@{/admin/usermanagement(page=${allUser.getNumber() + 2})} + ${usernameSearch}" th:text="${allUser.getNumber() + 3}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
</body>
</html>